.header {
    background-image: url('../src/assets/blog-banner-1.jpg');
    min-width: 100px;
    min-height: 500px;
}

.nav-bar {
    background-color:#003F9A;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F0F0F0;
    padding-left: 10px;
    padding-right: 10px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-img {
    width: 35px;
    height: 35px;
}

.logo-container p{
    font-size: 18px;
    font-weight: 500;
}

.user{
   font-weight: 500;
   font-size: 15px;
}